/* For all pages */
body, html {
    margin: 0;
    padding: 0;
    background-color: #e48168;
}

.navlinks {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.navlinks a {
    display: block;
    padding: 5px 7px;
    font-family: Akshar;
    font-size: 20px;
}

/* This stuff is for the homepage by Brendon */
#home {
    margin: 0;
    padding: 5% 0%;
    color: #f5e9db;
}

#lacunae {
    font-family: Brush Script MT;
    margin: 0;
    padding: 0;
    font-size: 200px;
    font-weight: 100;
}

#line {
    width: 0%;
    border: 1px solid #f5e9db;
}

#litmag {
  font-family: Lexend Giga;
  font-size: 25px;
  font-weight: 450;
  font-style: normal;
  padding-top: 2%;
}

#fall {
    margin-top: 3%;
    padding: 0%;
    width: 15%;
    border: 1px solid #f5e9db;
    font-size: 25px;
    font-weight: 100;
}

#hello {
    background-color: #f5e9db;
    display: flex;
    justify-content: space-around;
    padding: 10% 5%;
}

#book {
    width: 500px;
}

#hello h2 {
    font-family: Brush Script MT;
    font-weight: 100;
    font-size: 90px;
    color: #e48168;
    padding: 0;
    margin: 0;
}

.hellotext {
    font-family: Akshar;
    font-size: 20px;
}

#hello button {
    color: #e48168;
    background-color: #f5e9db;
    border: 1px solid #e48168;
    padding: 0% 10%;
    margin-top: 10%;
    font-family: "Times New Roman", Times, serif;
    font-size: 25px;
}

/* Colors I am using (From Dr. Rajan):
Background - #e48168
Text - #f5e9db
border/names - #5b4227
- Connor Layson, Masthead page*/

/*General*/
.masthead {
    background-color: #e48168;
    color: #f5e9db;
}
.section {
    text-align: center;
    font-family: Playfair Display;
    font-size: 50px;
}
#spacer {
    height: 50px;
}

/*Grid*/
.grid-parent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    font-size: 25px;
}
#grid-child {
    padding: 5%;
    border: solid #5b4227;
    margin: 20px;
    display: flex;
    flex-direction: column;
}
.info {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#grid-child img {
    clip-path: circle(50%);
    width: 80px; 
}
#grid-child h4 {
    color: #5b4227;
    font-family: Encode Sans SC;
}
#grid-child p{
    text-align: left;
    font-family: Akshar;
}