body, html {
    margin: 0;
    padding: 0;
}

#peachhome {
    background-color: #e48168;
    margin: 0;
    padding: 5% 0%;
}

#line {
    width: 0%;
    border: 1px solid #f5e9db;
}

#lacunae {
    font-family: Brush Script MT;
    margin: 0;
    padding: 0;
    font-size: 200px;
    font-weight: 100;
}

.cream {
    color: #f5e9db;
}

.lexend-giga {
  font-family: Lexend Giga;
  font-size: 25px;
  font-weight: 450;
  font-style: normal;
  padding-top: 2%;
}

#fall {
    margin-top: 3%;
    padding: 0%;
    width: 15%;
    border: 1px solid #f5e9db;
    font-size: 25px;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 100;
}

.hello {
    background-color: #f5e9db;
    display: flex;
    justify-content: space-around;
    padding: 10% 5%;
}

.hello h2 {
    font-family: Brush Script MT;
    font-weight: 100;
    font-size: 90px;
    color: #e48168;
    padding: 0;
    margin: 0;
}

.text {
    font-family: Akshar;
    font-size: 20px;
}

.hello button {
    color: #e48168;
    padding: 0% 10%;
    margin-top: 10%;
}

#book {
    width: 500px;
}

#write {
    background-color: #f5e9db;
    border: 1px solid #e48168;
    font-family: "Times New Roman", Times, serif;
    font-size: 25px;
}