body, html {
    margin: 0;
    padding: 0;
}
#peachhome {
    background-color: #e48168;
    margin: 0;
    padding: 5% 0%;
}

#lacunae {
    font-family: Brush Script MT;
    margin: 0;
    padding: 0;
    font-size: 200px;
    font-weight: 100;
}

.cream {
    color: #f5e9db;
}

.lexend-giga {
  font-family: Lexend Giga;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
  padding-top: 10%;
}

#fall {
    margin: 0;
    margin-top: 5%;
    margin-bottom: 0%;
    padding: 0;
    border: 1px solid #f5e9db;
    width: 14%;
    font-size: 25px;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.hello {
    background-color: #f5e9db;
    display: flex;
    justify-content: space-around;
    padding: 5% 5%;
}

.hello h2 {
    font-family: Brush Script MT;
    font-weight: 100;
    font-size: 90px;
    color: #e48168;
    padding: 0;
    margin: 0;
}

.hello p {
    font-family: Akshar;
}

#book {
    width: 500px;
}

#write {
    background-color: #f5e9db;
    border: 1px solid #e48168;
}